/*分页样式*/
@CHARSET "UTF-8";
.pagelist a{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-decoration: none;
}
.pagelist a:hover {
 	background-color: #ddd;
}
.pagelist .current {
 	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.pagelist a.current:hover {
 	background-color: #5f9fdf;
}
